# --- GLOBAL ---
PROJECT_NAME=signlang
ENVIRONMENT=development

# --- DJANGO API ---
DJANGO_SECRET='5pc5&o8nxi8@5vd^97%(5&2gdx0z=g_@7x&r-0$oulp003lpsz'
DJANGO_DEBUG=1
DJANGO_LOG_LEVEL=INFO
JWT_SECRET_KEY=KuIREAVPo7RVPikKRjcViG5tY5J9w6OYex8oKvHbxKvcmmrQ89CUX1SAYfhUCilJ
API_PORT=8000
ALLOWED_HOSTS=localhost,127.0.0.1,api
CORS_ALLOWED_ORIGINS=http://localhost:4200

# --- DATABASE (PostgreSQL) ---
DB_ENGINE=django.db.backends.postgresql
DB_HOST=db
DB_PORT=5432
DB_NAME=signlang
DB_USER=signuser
DB_PASSWORD=signpass

# --- CACHE (Redis) ---
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379/0

# --- ML SERVICE ---
ML_HOST=ml
ML_PORT=9000
ML_MODEL_NAME=asl_letters
ML_MODEL_VERSION=1.0.0

WEB_PORT=4200

# Path inside the container (already set in docker-compose)
# GOOGLE_APPLICATION_CREDENTIALS=/app/firebase-service-account.json
API_URL=http://localhost:8000/api/v1

# --- SYSTEM (For Linux permissions) ---
# Run 'id -u' and 'id -g' to get these values
HOST_UID=1000
HOST_GID=1000

# --- GOOGLE / FIREBASE AUTH ---
# The Client ID for your Google Web Application
GOOGLE_CLIENT_ID=454223291940-sp1cr3vangsdk36kse8hdifm999vv2go.apps.googleusercontent.com 
ANGULAR_GOOGLE_CLIENT_ID=454223291940-sp1cr3vangsdk36kse8hdifm999vv2go.apps.googleusercontent.com 

# NOTE: You must place 'firebase-service-account.json' in the project root.
# This file is used by the backend to verify tokens.
